*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.row{
        width: 100%;
    height: 100%;
}

.container{
    width: 100%;
    height: 100%;
}

.searchbar{
        width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.searching{
    width: 50%;
    margin-bottom: 50px;
}

.searching input{
    width: 100%;
    padding: 8px;
    font-size: 18px;
    font-weight: 500;
}

.teamspanel{
        width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
}

.team{
        text-align: center;
}

.team img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100px;
}

.team h3{
        padding: 0;
    margin: 0;
}